# Auto detect text files and perform LF normalization
* text=auto
[200~Content/WarriorContent/Characters/Warrior/Textures/T_M2_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M2_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M4_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M1_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M2_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M6_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M4_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M5_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M3_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M5_MSK.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_Others_M1M2M3M4_MSK.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M6_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M2_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M5_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M3_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M1_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M5_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M3_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M4_ORM.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M6_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M2_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M1_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/WarriorContent/Characters/Warrior/Textures/T_M6_MSK.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Statues/Base_statue/T_Base_statue_RGA_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Statues/Priestess/T_Priestess_ao.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Moss/T_Moss_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_Gray/T_Rock_Gray_Roughness_AO_Height.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_Surface/T_Rock_surface_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_Surface/T_Rock_surface_Roughness_AO_Height.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_boulder_dry/T_rock_boulder_dry_nor_dx_4k.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Meshes/TooImport/SM_Base_statue.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Cathedral/Interior/Altar_table/T_Altar_table_Roughness_Metallic_AO.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Cemetery/Tomb_03/T_Tomb_03_RGBA_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Statues/Base_statue/T_Base_statue_AO_Wear.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_Surface/T_Rock_surface_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Snow/T_Snow_Diffuse.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Cathedral/Interior/Altar_table/T_Altar_table_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Cemetery/Tomb_03/T_Tomb_03_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Statues/Priestess/T_Priestess_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_boulder_dry/T_rock_boulder_dry_diff_4k.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Snow/T_Snow_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Snow/T_Snow_Roughness_AO_height.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Meshes/TooImport/SM_Altar_table.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Cathedral/Cathedral_door/T_Cathedral_door_steel_Albedo.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Cathedral/Interior/Altar_table/T_T_Altar_table_Base_Color.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Cathedral/pillar_cantonne/T_pillar_cantonne_RGA_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Statues/Base_statue/T_Base_statue_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Cathedral/Cathedral_door/T_Cathedral_door_steel_Roughness_Metallic_AO.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Statues/Priestess/T_Priestess_normal.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Moss/T_Moss_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Meshes/TooImport/SM_Priestess.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Cathedral/pillar_cantonne/T_pillar_cantonne_normal.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Cathedral/pillar_cantonne/T_pillar_cantonne_ao.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Cemetery/Tomb_03/T_Tomb_03_AO_Wear.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Moss/T_Moss_Roughness_AO_Height.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_boulder_dry/T_Rock_boulder_dry_Rough_AO_Height.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_Gray/T_Rock_Gray_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Gothic_Cathedral/Meshes/TooImport/SM_Base_statue.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Statues/Base_statue/T_Base_statue_RGA_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Moss/T_Moss_Roughness_AO_Height.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Cathedral/Cathedral_door/T_Cathedral_door_steel_Roughness_Metallic_AO.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_boulder_dry/T_rock_boulder_dry_nor_dx_4k.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_Surface/T_Rock_surface_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Snow/T_Snow_Roughness_AO_height.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Cathedral/Interior/Altar_table/T_T_Altar_table_Base_Color.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Cemetery/Tomb_03/T_Tomb_03_AO_Wear.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Statues/Base_statue/T_Base_statue_AO_Wear.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Statues/Base_statue/T_Base_statue_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Statues/Priestess/T_Priestess_ao.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_boulder_dry/T_Rock_boulder_dry_Rough_AO_Height.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_Surface/T_Rock_surface_Roughness_AO_Height.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Meshes/TooImport/SM_Priestess.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Statues/Priestess/T_Priestess_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Moss/T_Moss_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_Gray/T_Rock_Gray_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Snow/T_Snow_Diffuse.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Cathedral/Cathedral_door/T_Cathedral_door_steel_Albedo.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Cathedral/Interior/Altar_table/T_Altar_table_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Cathedral/pillar_cantonne/T_pillar_cantonne_RGA_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Statues/Priestess/T_Priestess_normal.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Moss/T_Moss_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Cathedral/Interior/Altar_table/T_Altar_table_Roughness_Metallic_AO.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Cathedral/pillar_cantonne/T_pillar_cantonne_ao.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Cemetery/Tomb_03/T_Tomb_03_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_boulder_dry/T_rock_boulder_dry_diff_4k.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_Surface/T_Rock_surface_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Cathedral/pillar_cantonne/T_pillar_cantonne_normal.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Rock_Gray/T_Rock_Gray_Roughness_AO_Height.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Meshes/TooImport/SM_Base_statue.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Meshes/TooImport/SM_Altar_table.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Cemetery/Tomb_03/T_Tomb_03_RGBA_Mask.uasset filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Snow/T_Snow_Normal.uasset filter=lfs diff=lfs merge=lfs -text
